<html>
<font color = Purple size =4>
<b> Exploratory Analysis </b>
</font>
</html>

In [1]:
import pandas as pd

In [2]:
df_final = pd.read_csv("newlogs.csv", usecols = ['QueryTime','QuerySeq','AvatarID','Guild','Level','Race','Class','Zone'])

In [16]:
df_final.tail(5)

,QueryTime,QuerySeq,AvatarID,Guild,Level,Race,Class,Zone
40692952,01/10/09 05:08:48,56,36893,104,80,Blood Elf,Mage,Dalaran
40692953,01/10/09 05:08:48,56,39532,204,80,Blood Elf,Mage,The Storm Peaks
40692954,01/10/09 05:08:59,58,90033,502,80,Blood Elf,Death Knight,Sholazar Basin
40692955,01/10/09 05:08:59,58,87974,251,80,Blood Elf,Death Knight,Blade's Edge Mountains
40692956,01/10/09 05:08:59,58,86679,459,80,Blood Elf,Death Knight,Shadowmoon Valley

In [3]:
df_final.Class.unique()

array([' Warrior', ' Shaman', ' Hunter', ' Warlock', ' Rogue', ' Druid',
       ' Mage', ' Priest', ' Paladin', ' Death Knight'], dtype=object)

In [7]:
df_final.Zone.nunique()

157

In [4]:
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

In [18]:
pwd

'E:\\Sulekhas BOOKSHELF\\GreatLakes\\CapStoneProject\\Topics\\MyCode\\codeset'

In [8]:
df_final[df_final['Zone'].isin([' The Great Sea'])]

,QueryTime,QuerySeq,AvatarID,Guild,Level,Race,Class,Zone
17472959,03/18/07 01:29:52,36,22536,104,60,Troll,Hunter,The Great Sea
17607574,03/26/07 02:09:48,23,26473,104,60,Tauren,Hunter,The Great Sea
17618594,03/26/07 17:09:05,15,30131,104,16,Tauren,Druid,The Great Sea
17841220,04/02/07 02:35:07,15,32998,53,19,Tauren,Druid,The Great Sea
17875028,04/03/07 11:59:33,20,19915,,57,Tauren,Warrior,The Great Sea
17984519,04/05/07 12:12:48,12,33058,103,27,Tauren,Druid,The Great Sea
18081465,04/06/07 21:35:11,40,21602,5,60,Undead,Mage,The Great Sea
18851150,04/21/07 19:03:44,10,37414,189,18,Tauren,Druid,The Great Sea
19212727,04/28/07 18:13:44,10,41901,,17,Tauren,Druid,The Great Sea
19304533,04/30/07 02:16:33,43,41425,,4,Blood Elf,Rogue,The Great Sea
19732099,05/09/07 00:05:21,29,43535,,10,Undead,Warlock,The Great Sea
20037868,05/16/07 02:09:50,50,41399,,22,Blood Elf,Paladin,The Great Sea
21321590,06/19/07 13:57:28,9,46088,,22,Tauren,Druid,The Great Sea
21577641,06/25/07 19:06:12,9,30411,,2,Tauren,Warrior,The Great Sea
21819075,07/01/07 13:06:09,9,46067,53,26,Tauren,Druid,The Great Sea
21972217,07/05/07 00:06:09,9,2843,,45,Tauren,Druid,The Great Sea
22236300,07/11/07 03:56:08,9,38145,,16,Tauren,Druid,The Great Sea
23665360,08/12/07 19:12:12,9,53826,,20,Tauren,Druid,The Great Sea
23733843,08/14/07 01:22:12,9,53520,,17,Tauren,Druid,The Great Sea
24289836,08/26/07 18:21:08,9,55677,,18,Tauren,Druid,The Great Sea
24347471,08/27/07 23:38:25,9,56692,,16,Tauren,Druid,The Great Sea
24349860,08/28/07 00:28:08,9,56692,233,16,Tauren,Druid,The Great Sea
24996248,09/12/07 12:14:08,9,58053,,20,Tauren,Druid,The Great Sea
25064607,09/14/07 11:54:07,9,56872,161,39,Tauren,Druid,The Great Sea
25169605,09/16/07 17:14:06,9,53668,233,16,Tauren,Druid,The Great Sea
25285554,09/19/07 02:34:08,9,29197,53,19,Tauren,Druid,The Great Sea
25285727,09/19/07 02:44:08,9,29197,53,19,Tauren,Druid,The Great Sea
25433519,09/23/07 01:33:11,9,52447,53,18,Tauren,Druid,The Great Sea
25433645,09/23/07 01:34:32,25,21718,,24,Undead,Warlock,The Great Sea
25458911,09/23/07 17:44:10,21,27853,169,70,Troll,Rogue,The Great Sea
...,...,...,...,...,...,...,...,...
35732745,06/30/08 12:54:12,9,68576,365,50,Tauren,Druid,The Great Sea
35795684,07/02/08 17:18:21,9,19664,62,19,Tauren,Druid,The Great Sea
35826063,07/03/08 21:30:29,9,68588,358,17,Tauren,Druid,The Great Sea
36023512,07/10/08 11:40:48,9,73617,,16,Tauren,Druid,The Great Sea
36027038,07/10/08 15:37:08,9,74022,,19,Tauren,Hunter,The Great Sea
36027233,07/10/08 15:48:05,9,74022,,19,Tauren,Hunter,The Great Sea
36093118,07/12/08 17:33:15,9,74312,251,18,Tauren,Druid,The Great Sea
36186440,07/15/08 13:45:16,35,74783,,20,Blood Elf,Warlock,The Great Sea
36190588,07/15/08 17:33:14,9,74508,23,20,Tauren,Druid,The Great Sea
36212798,07/16/08 12:23:29,9,74508,23,20,Tauren,Druid,The Great Sea
36311412,07/19/08 19:39:29,9,74794,,18,Tauren,Druid,The Great Sea
36311739,07/19/08 19:49:15,9,74794,,18,Tauren,Druid,The Great Sea
36392123,07/22/08 10:21:59,9,70479,282,22,Tauren,Druid,The Great Sea
36392195,07/22/08 10:31:30,9,70479,282,22,Tauren,Druid,The Great Sea
36712830,08/01/08 23:02:29,9,2515,393,46,Tauren,Druid,The Great Sea
36725376,08/02/08 10:33:46,9,2515,393,46,Tauren,Druid,The Great Sea
36873130,08/07/08 18:05:16,9,75433,391,20,Tauren,Druid,The Great Sea
36936344,08/09/08 21:06:31,9,74183,,16,Tauren,Druid,The Great Sea
37083675,08/15/08 02:09:29,9,76030,,23,Tauren,Druid,The Great Sea
37937154,09/15/08 13:57:31,9,77302,,19,Tauren,Druid,The Great Sea
38119033,09/22/08 14:37:47,9,73280,399,22,Tauren,Druid,The Great Sea
38211834,09/26/08 21:27:30,9,69649,342,23,Tauren,Druid,The Great Sea
38655528,10/13/08 16:16:36,9,78846,189,21,Tauren,Druid,The Great Sea
38655640,10/13/08 16:26:34,9,78846,189,21,Tauren,Druid,The Great Sea
38656810,10/13/08 17:56:45,9,78846,189,21,Tauren,Druid,The Great Sea
38656811,10/13/08 17:56:45,9,78457,282,36,Tauren,Druid,The Great Sea
39106239,11/03/08 01:27:43,9,84142,161,22,Tauren,Druid,The Great Sea
39149824,11/05/08 21:43:28,9,83446,471,43,Tauren,Druid,The Great Sea
39197254,11/08/08 21:11:58,9,84902,,18,Tauren,Druid,The Great Sea
39777356,12/06/08 18:08:16,18,86025,,20,Troll,Rogue,The Great Sea